# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Yakov Didenko
	email = yakov.didenko@glidewelldental.com

[alias]
# Pretty log
	hist = log --oneline --graph --decorate
	h = hist master..HEAD
	hf = hist -10
	my = log --author='Yakov'
	last = log -1

# Edit history
	undo = reset --soft HEAD^
	destroy = reset --hard HEAD^

# Some sweets
	staged = diff --staged
