[user]
	name = Yakov Didenko
	email = kogotto@yandex-team.ru
[core]
	editor = nvim
[alias]
	hist = log --oneline --graph --decorate
	last = log -1
	undo = reset --soft HEAD^
	h = log --oneline --graph --decorate -10
[push]
	default = simple
[submodule]
	recurse = true
